@keyframes wavesEffectLeft {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(20px, 20px);
    }
}

@keyframes wavesEffectRight {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-20px, -20px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-90deg)scale(1);
    }

    50% {
        transform: rotate(0)scale(.75);
    }

    100% {
        transform: rotate(90)scale(1);
    }
}





@keyframes show {
    40% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes cut {
    0% {
        stroke-dashoffset: 0;
    }
    
    100% {
        stroke-dashoffset: 100;
    }
}

@keyframes breakUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-90px);
    }
}

@keyframes breakDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}