* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $color-bg;
}

body,
html {
    overflow-x: hidden;
    width: 100vw;
}

ul {
    list-style: none;
}





.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
}

.space {
    &-arround {
        &-m {
            margin-top: $space-large;
            margin-bottom: $space-large;
        }

        &-p {
            padding-top: $space-large;
            padding-bottom: $space-large;
        }
    }
}




h2.h2-tiny {
    font-size: $font-normal;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 32px;
}




#breadcrumb {
    a {
        text-decoration: none;
        font-weight: bold;
    }
}