@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

@-webkit-keyframes wavesEffectLeft {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(20px, 20px);
  }
}

@keyframes wavesEffectLeft {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(20px, 20px);
  }
}
@-webkit-keyframes wavesEffectRight {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-20px, -20px);
  }
}
@keyframes wavesEffectRight {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-20px, -20px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #E7F3FD;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
}

.space-arround-m {
  margin-top: 40px;
  margin-bottom: 40px;
}
.space-arround-p {
  padding-top: 40px;
  padding-bottom: 40px;
}

h2.h2-tiny {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 32px;
}

.button-1,
.button-2 {
  padding: 16px 48px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
}

.button-1 {
  color: #F9F9FA;
  background-color: #E54138;
}
.button-1:hover {
  color: #F9F9FA;
  background-color: #0C579D;
}

.button-2 {
  color: #F9F9FA;
  background-color: #0C579D;
}
.button-2:hover {
  color: #F9F9FA;
  background-color: #E54138;
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slide img {
  width: 50%;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-list .slick-track,
.slick-list .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
}
.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide .slick-slide.dragging img {
  pointer-events: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

#header {
  background: transparent;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 0.4s;
}
#header #banner-top {
  background-color: #0C579D;
  text-align: center;
  min-height: 50px;
  display: flex;
}
#header #navbar {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  #header #navbar {
    flex-wrap: wrap;
    justify-content: center;
  }
}
#header #navbar #logo {
  width: 20%;
}
@media (max-width: 992px) {
  #header #navbar #logo {
    order: 0;
    width: 50%;
  }
}
@media (max-width: 768px) {
  #header #navbar #logo {
    width: 25%;
  }
}
#header #navbar #logo img {
  height: 100px;
  width: auto;
}
@media (max-width: 768px) {
  #header #navbar #logo img {
    height: auto;
    width: 100%;
  }
}
#header #navbar #main-nav {
  width: 60%;
}
@media (max-width: 992px) {
  #header #navbar #main-nav {
    order: 2;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #header #navbar #main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: #0C579D;
    color: #F9F9FA;
    z-index: 9;
    transform: translateX(0);
    transition: transform 1s;
  }
}
#header #navbar #main-nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 16px;
}
@media (max-width: 992px) {
  #header #navbar #main-nav ul {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  #header #navbar #main-nav ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
}
#header #navbar #main-nav ul li a {
  padding: 16px;
  text-decoration: none;
  color: #031221;
}
@media (max-width: 768px) {
  #header #navbar #main-nav ul li a {
    color: #F9F9FA;
  }
}
@media (max-width: 768px) {
  #header #navbar #main-nav ul li {
    margin: 16px;
  }
}
#header #navbar #main-nav img#mobile-menu-toggle-close {
  display: none;
}
@media (max-width: 768px) {
  #header #navbar #main-nav img#mobile-menu-toggle-close {
    display: block;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
#header #navbar #icons {
  width: 20%;
}
@media (max-width: 992px) {
  #header #navbar #icons {
    order: 1;
    width: 50%;
  }
}
@media (max-width: 768px) {
  #header #navbar #icons {
    width: 75%;
  }
}
#header #navbar #icons ul {
  display: flex;
  justify-content: flex-end;
}
#header #navbar #icons ul li {
  margin: 16px;
}
#header #navbar #icons ul li form {
  position: relative;
}
#header #navbar #icons ul li form::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -25%;
  border-bottom: 2px solid #031221;
  pointer-events: none;
}
#header #navbar #icons ul li form select {
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
}
#header #navbar #icons ul li#mobile-menu-toggle-open {
  display: block;
}
@media (min-width: 768px) {
  #header #navbar #icons ul li#mobile-menu-toggle-open {
    display: none;
  }
}
#header #navbar #icons ul li#mobile-menu-toggle-open img {
  height: 24px;
  width: 24px;
}

.toggle-menu {
  transform: translateX(100%) !important;
  transition: transform 0.4s;
}

.menu-bg {
  background: #F9F9FA !important;
  transition: 0.4s;
}

footer #reassurance {
  background-color: #1C2938;
  color: #F9F9FA;
}
footer #reassurance .points .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
@media (max-width: 768px) {
  footer #reassurance .points .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  footer #reassurance .points .grid .card {
    padding: 16px 0;
  }
}
footer #reassurance .points .grid .card > p {
  font-size: 18px;
  line-height: 120%;
}
footer #reassurance .points .grid .card > p:first-of-type {
  font-weight: bold;
}
footer #reassurance .points .grid .card > p:last-of-type {
  font-weight: 400;
  margin-top: 16px;
}

#index #hero {
  background-image: url("../assets/img/home/Hero Bg.jpg");
  height: 100vh;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
}
#index #hero::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/img/home/Hero Bg Top.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
#index #hero > div.corner-top, #index #hero > div.corner-bottom {
  position: relative;
  pointer-events: none;
}
#index #hero > div.corner-top > svg {
  position: absolute;
  left: -20px;
  top: -20px;
}
#index #hero > div.corner-top > svg > path:first-of-type {
  -webkit-animation: wavesEffectLeft infinite 10s ease-in-out alternate;
          animation: wavesEffectLeft infinite 10s ease-in-out alternate;
}
#index #hero > div.corner-top > svg > path:last-of-type {
  animation: wavesEffectLeft infinite 5s ease-in-out alternate-reverse;
}
#index #hero > div.corner-bottom > svg {
  position: absolute;
  right: -20px;
  bottom: -20px;
}
#index #hero > div.corner-bottom > svg > path:first-of-type {
  -webkit-animation: wavesEffectRight infinite 10s ease-in-out alternate;
          animation: wavesEffectRight infinite 10s ease-in-out alternate;
}
#index #hero > div.corner-bottom > svg > path:last-of-type {
  animation: wavesEffectRight infinite 5s ease-in-out alternate-reverse;
}
#index #hero .container {
  width: 100%;
  z-index: 2;
  --width: 710px;
}
#index #hero .container h1 {
  max-width: var(--width);
  font-size: 49px;
  font-weight: 600;
  line-height: 120%;
}
#index #hero .container h1 b {
  font-size: 62px;
}
#index #hero .container p {
  max-width: var(--width);
  font-size: 26px;
  font-weight: 200;
  margin-top: 32px;
  margin-bottom: 40px;
}
#index #hero #bg-text {
  -webkit-text-stroke-color: white;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  font-size: 150px;
  position: absolute;
  bottom: 25%;
  right: 0;
  opacity: 0.1;
  font-family: oxygen;
}
#index #product .contents {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#index #product .contents > img,
#index #product .contents > div {
  width: 50%;
}
@media (max-width: 768px) {
  #index #product .contents > img,
#index #product .contents > div {
    width: 100%;
  }
}
#index #product .contents > div > h2,
#index #product .contents > div > p,
#index #product .contents > div > a {
  margin-bottom: 32px;
}
#index #product .points {
  background-color: #F9F9FA;
}
#index #product .points .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
@media (max-width: 768px) {
  #index #product .points .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  #index #product .points .grid .card {
    padding: 16px 0;
  }
}
#index #product .points .grid .card > p {
  font-size: 18px;
  line-height: 120%;
}
#index #product .points .grid .card > p:first-of-type {
  font-weight: bold;
}
#index #product .points .grid .card > p:last-of-type {
  font-weight: 400;
  margin-top: 16px;
}
#index #product .points .grid .cards:nth-of-type(even) svg {
  transform-box: fill-box;
}
#index #product .points .grid .cards:nth-of-type(even) svg > path:first-of-type {
  transform-origin: center;
  -webkit-animation: rotate 20s infinite linear alternate;
          animation: rotate 20s infinite linear alternate;
}
#index #product .points .grid .cards:nth-of-type(odd) svg {
  transform-box: fill-box;
}
#index #product .points .grid .cards:nth-of-type(odd) svg > path:first-of-type {
  transform-origin: center;
  animation: rotate 20s infinite linear alternate-reverse;
}
#index #solecooler {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#index #solecooler div {
  width: 50%;
  color: #F9F9FA;
  padding: 100px 0;
}
#index #solecooler div h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}
#index #solecooler div p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(0) scale(0.75);
  }
  100% {
    transform: rotate(90) scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(0) scale(0.75);
  }
  100% {
    transform: rotate(90) scale(1);
  }
}/*# sourceMappingURL=main.css.map */