// Variables
@import '_variables';
@import '_colors';
@import '_fonts';
@import '_animations';
@import '_responsive';
@import '_init';

// Components
@import 'components/buttons';
@import 'components/brands_slider';
@import 'components/cards';

// Styles
@import 'pages/header';
@import 'pages/footer';
@import 'pages/home';
@import 'pages/page';
@import 'pages/contact';
@import 'pages/product';

#product {
    .intro {
        display: grid;
        grid-template-columns: 2fr 1fr;

        @media (max-width: $tablet) {
            display: block;
        }

        .img {
            .cover {
                position: relative;
                padding: 0 75px;

                img {
                    width: 100%;
                    height: 400px;
                    object-fit: contain;
                    cursor: pointer;
                }

                svg {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;

                    @media (max-width: $mobile) {
                        width: 50%;
                    }
                }
            }

            .gallery {
                display: flex;
                gap: 50px;
                margin-bottom: 50px;

                >img {
                    height: 75px;
                    width: 75px;
                    object-fit: contain;
                    cursor: pointer;
                }
            }
        }

        .info {
            >* {
                margin-bottom: 16px;
            }

            h1 {
                font-size: 48px;
                text-transform: uppercase;
            }

            p {
                font-size: 16px;
            }

            form {
                >* {
                    margin-bottom: 16px;
                }

                >div {

                    >span {
                        display: block;
                    }

                    .wrap {
                        display: flex;
                        gap: 16px;

                        input[type=radio] {
                            display: none;

                            +label {
                                padding: 10px 16px;
                                background-color: white;
                                border-radius: 4px;
                            }

                            &:checked {
                                +label {
                                    background-color: $light-red;
                                }
                            }
                        }
                    }

                    .section {
                        font-size: 18px;
                        font-weight: bold;
                        display: block;
                    }

                    #qty {
                        padding: 10px;
                        width: 75px;
                        font-weight: bold;
                    }

                    &.price {
                        display: flex;

                        >span {
                            font-size: 24px;
                            font-weight: bold;
                            color: $red;
                        }
                    }

                }

                button {
                    border: none;
                }
            }
        }
    }

    .details {
        >div {
            margin-bottom: 50px;

            .open-box {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 150px;

                ol {
                    margin-left: 50px;
                    li {
                        margin: 16px 0;
                    }
                }
            }
        }

        h3 {
            margin-top: 16px;
            margin-bottom: 8px;
        }

        p {
            line-height: 150%;
            width: 80%;
        }
    }
}