.button-1 {
    padding: $space-small $space-extra-large;
    text-align: center;
    color: $white;
    background-color: $red;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
        color: $red;
        background-color: $blue;
    }
}