.button-1,
.button-2 {
    padding: 16px 48px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
}


.button-1 {
    color: $white;
    background-color: $red;
    cursor: pointer;

    * {
        color: $white;
    }

    &:hover {
        color: $white;
        background-color: $blue;

        * {
            color: $white;
            cursor: pointer;
        }
    }
}


.button-2 {
    color: $white;
    background-color: $blue;
    cursor: pointer;

    * {
        color: $white;
        cursor: pointer;
    }

    &:hover {
        color: $white;
        background-color: $red;

        * {
            color: $white;
        }
    }
}