.button-1,
.button-2 {
    padding: 16px 48px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
}


.button-1 {
    color: $white;
    background-color: $red;

    &:hover {
        color: $white;
        background-color: $blue;
    }
}


.button-2 {
    color: $white;
    background-color: $blue;

    &:hover {
        color: $white;
        background-color: $red;
    }
}

#index-backoffice {
    .edit-btn{
        padding: 8px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        border-radius: 4px;
        color: $white;
        background-color: #1C2938;

    }

    .delete-btn{
        padding: 8px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        border-radius: 4px;
        color: $white;
        background-color: #681b17;

    }
}

