#header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


    #banner {
        &-top {
            background-color: $blue;
            text-align: center;
            min-height: 50px;
            display: flex;
        }
    }

    #navbar {
        display: flex;
        align-items: center;

        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }

        #logo {
            width: 20%;

            @media (max-width: $tablet) {
                order: 0;
                width: 50%;
            }

            @media (max-width: $mobile) {
                width: 25%;
            }

            img {
                height: 100px;
                width: auto;

                @media (max-width: $mobile) {
                    height: auto;
                    width: 100%;
                }
            }
        }

        #main-nav {
            width: 60%;

            @media (max-width: $tablet) {
                order: 2;
                width: 100%;
            }

            @media (max-width: $mobile) {
                position: fixed;
                top: 0;
                left: -100%;
                // right: 0;
                bottom: 0;
                background-color: $blue;
                color: $white;
                z-index: 9;
                transform: translateX(0);
                transition: transform 1s;
            }

            ul {
                display: flex;
                justify-content: space-evenly;
                margin: $space-small;

                @media (max-width: $tablet) {
                    justify-content: space-between;
                }

                @media (max-width: $mobile) {
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    align-items: center;
                }

                li {
                    a {
                        padding: $space-small;
                        text-decoration: none;
                        padding: $space-small;

                        @media (max-width: $mobile) {
                            color: $white;
                        }
                    }

                    @media (max-width: $mobile) {
                        margin: $space-small;
                    }
                }
            }

            img#mobile-menu-toggle-close {
                display: none;

                @media (max-width: $mobile) {
                    display: block;
                    height: 24px;
                    position: absolute;
                    top: $space-small;
                    right: $space-small;
                }
            }
        }

        #icons {
            width: 20%;

            @media (max-width: $tablet) {
                order: 1;
                width: 50%;
            }

            @media (max-width: $mobile) {
                width: 75%;
            }

            ul {
                display: flex;
                justify-content: flex-end;

                li {
                    margin: $space-small;

                    form {
                        position: relative;

                        &::after {
                            content: '';
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            bottom: -25%;
                            border-bottom: 2px solid $black;
                            pointer-events: none;
                        }

                        select {
                            border: none;
                            font-size: $font-normal;
                            font-weight: bold;
                        }
                    }

                    &#mobile-menu-toggle-open {
                        display: block;

                        @media (min-width: $mobile) {
                            display: none;
                        }

                        img {
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }
    }
}


.toggle {
    &-menu {
        transform: translateX(100%) !important;
        transition: transform 1s;
    }
}